body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.box-container {
    background-color: #00002b;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    height: 100vh;
    flex-direction: column;
}

.box-top {
    display: flex;
    justify-content: center;
    flex: 1.6;
    width: 100%;
}

.box-bottom {
    display: flex;
    justify-content: center;
    flex: 1;
    width: 100%;
}

.box {
    box-sizing: border-box;
    flex: 1;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.box1 {
    background-color: #fff;
    box-sizing: border-box;
    flex: 1.4;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.box2 {
    background-color: #fff;
    box-sizing: border-box;
    flex: 1;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.console {
    background-color: #000;
    font-family: "Roboto Mono", monospace;
    box-sizing: border-box;
    color: #fff;
    flex: 1.6;
    margin: 5px;
    display: flex;
    position: relative;
}

.sonar {
    font-family: "Roboto Mono", monospace;
    color: yellow;
    background-color: #07270c;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    width: 35%;
    position: relative;
    h1 {
        margin: 0 0 5px 0;
        padding: 0;
        font-size: larger;
    }
    p {
        margin: 0;
        padding: 0;
        font-size: small;
    }
    .terrain {
        color: white;
    }
    .threat {
        color: red;
    }
}

.console-input::placeholder {
    color: white;
}

.console-output {
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    position: absolute;
    top: 0;
    margin: 0 10px;
    overflow-y: auto;
    height: 100%;
    width: 100%;

    p {
        padding: 5px 0;
        margin: 0;
    }
    pre {
        padding-right: 10px;
        white-space: pre-wrap;
        word-wrap: break-word;
        scroll-behavior: smooth;
    }
}

.console-cursor {
    animation: blinkCursor 0.8s steps(2, start) infinite;
    display: inline-block;
    color: white;
    user-select: none;
}

@keyframes blinkCursor {
    to {
        visibility: hidden;
    }
}
